@using PagedList.Mvc;
@model PagedList.IPagedList<TesteListagemDeUsuarios.Dominio.Entidade.UsuarioModel>

@{
    ViewBag.Title = "Listar";
}
<h2>Lista de usuários</h2>

<table class="table table-striped table-hover table-bordered">
    <tr>
        <th>
            ID
        </th>
        <th>
            Nome
        </th>
        <th>
            Sobrenome
        </th>
        <th>
            Foto
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.id
            </td>
            <td>
                @item.first_name
            </td>
            <td>
                @item.last_name
            </td>
            <td>
                <div class="item branding">
                    <img src="@Html.DisplayFor(modelItem => item.avatar)" class="img-responsive" />
                </div>
            </td>
        </tr>
    }
</table>


@*Paginação*@
<div>
    <div>
        <p class="text-center"><strong>Página @(Model.PageCount < Model.PageCount ? 0 : Model.PageNumber) de @Model.PageCount</strong></p>
    </div>
    <div class="text-center">
        @Html.PagedListPager(Model, page => Url.Action("Listar", new { page }))
    </div>
</div>
